<div class="container">
	<h1>The Rectangles</h1>

	<div class="gallery">
		<div ng-repeat="img in vm.galleryImages">
			<img draggable="true" effect-allowed="copy" draggable-type="custom-object" draggable-data="img.source" width="50px" ng-src="assets/images/{{img.thumbnail}}">
		</div>
	</div>

<div class="spread" >
<svg 
ng-mousedown="vm.mouseDown($event)"
ng-mouseup="vm.mouseUp($event)"
ng-mousemove="vm.mouseMove($event)"
ng-click="vm.mouseClick($event)"
drop="vm.onDrop($data, $event)" drop-effect="copy" drop-accept="'json/custom-object'" drag-over="vm.onDragOver($event)" drag-over-class="drag-over-accept"
height="500" 
width="600" 
xmlns="http://www.w3.org/2000/svg" 
xmlns:xlink="http://www.w3.org/1999/xlink">
<g ng-repeat="(key, model) in vm.shapes" track by $index>
	<g rectshape viewmodel="model" context="vm.contexts[key]" ng-if="model.shapeType=='rectshape'"></g>
	<g imgshape viewmodel="model" context="vm.contexts[key]" ng-if="model.shapeType=='imgshape'"></g>
</g>

</svg>
<div>
	<button class="btn btn-mini btn-success" ng-click="vm.addRect()">ADD RECTANGLE</button>
	<button class="btn btn-mini btn-danger" ng-click="vm.removeSelected()">REMOVE</button>
</div>
<br>
<div>
	Start X: {{vm.Mouse.state.startX}} <br>
	Start Y: {{vm.Mouse.state.startY}} <br>
	Current X: {{vm.Mouse.state.currentX}} <br>
	Current Y: {{vm.Mouse.state.currentY}} <br>
	dx: {{vm.Mouse.state.deltaX}} <br>
	dy: {{vm.Mouse.state.deltaX}} <br>
</div>
</div>
</div>