<div class="container">
	<h1>Shapes</h1>
	<svg 
	ng-mousedown="mouseDown($event)"
	ng-mouseup="mouseUp($event)"
	ng-mousemove="mouseMove($event)"
	ng-click="mouseClick($event)"

	height="600" 
	width="1000" 
	xmlns="http://www.w3.org/2000/svg" 
	xmlns:xlink="http://www.w3.org/1999/xlink">
	<g ng-repeat="(key, model) in shapes" track by $index>
	<g shapes viewmodel="model" context="contexts[key]" ng-if="model.shapeType=='line'"></g>
	<g shapes viewmodel="model" context="contexts[key]" ng-if="model.shapeType=='oval'"></g>
	<g shapes viewmodel="model" context="contexts[key]" ng-if="model.shapeType=='rect'"></g>
	<g shapes viewmodel="model" context="contexts[key]" ng-if="model.shapeType=='text'"></g>
    </g>
    <g ng-attr-transform="{{toolRRGroup.transform}}"
	   ng-attr-visibility="{{toolRRGroup.visibility}}">
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="tm"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{toolRRGroup.tmX}}" 
		ng-attr-y="{{toolRRGroup.tmY}}" 
		ng-attr-width="{{toolRRGroup.width}}" 
		ng-attr-height="{{toolRRGroup.height}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
		ng-attr-stroke="{{toolRRGroup.stroke}}">
	</rect>
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="tr"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{toolRRGroup.trX}}" 
		ng-attr-y="{{toolRRGroup.trY}}" 
		ng-attr-width="{{toolRRGroup.width}}" 
		ng-attr-height="{{toolRRGroup.height}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
		ng-attr-stroke="{{toolRRGroup.stroke}}">
	</rect>
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="lm"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{toolRRGroup.lmX}}" 
		ng-attr-y="{{toolRRGroup.lmY}}" 
		ng-attr-width="{{toolRRGroup.width}}" 
		ng-attr-height="{{toolRRGroup.height}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
		ng-attr-stroke="{{toolRRGroup.stroke}}">
	</rect>
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="rm"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{toolRRGroup.rmX}}" 
		ng-attr-y="{{toolRRGroup.rmY}}" 
		ng-attr-width="{{toolRRGroup.width}}" 
		ng-attr-height="{{toolRRGroup.height}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
		ng-attr-stroke="{{toolRRGroup.stroke}}">
	</rect>
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="bl"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{toolRRGroup.blX}}" 
		ng-attr-y="{{toolRRGroup.blY}}" 
		ng-attr-width="{{toolRRGroup.width}}" 
		ng-attr-height="{{toolRRGroup.height}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
		ng-attr-stroke="{{toolRRGroup.stroke}}">
	</rect>
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="bm"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{toolRRGroup.bmX}}" 
		ng-attr-y="{{toolRRGroup.bmY}}" 
		ng-attr-width="{{toolRRGroup.width}}" 
		ng-attr-height="{{toolRRGroup.height}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
		ng-attr-stroke="{{toolRRGroup.stroke}}">
	</rect>
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="br"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{toolRRGroup.brX}}" 
		ng-attr-y="{{toolRRGroup.brY}}" 
		ng-attr-width="{{toolRRGroup.width}}" 
		ng-attr-height="{{toolRRGroup.height}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
		ng-attr-stroke="{{toolRRGroup.stroke}}">
	</rect>
	<rect
		data-type="tool"
		data-mode="resize"
		data-id="tl"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		ng-attr-x="{{toolRRGroup.tlX}}" 
		ng-attr-y="{{toolRRGroup.tlY}}" 
		ng-attr-width="{{toolRRGroup.width}}" 
		ng-attr-height="{{toolRRGroup.height}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
        ng-attr-stroke="{{toolRRGroup.stroke}}">
	</rect>
	<circle
		data-type="tool"
		data-mode="rotate"
		data-id="rot"
		data-parent="123" 
		fill="white"
		fill-opacity="0"
		r="7" 
		ng-attr-cx="{{toolRRGroup.cx}}" 
		ng-attr-cy="{{toolRRGroup.cy}}" 
		ng-attr-fill="{{toolRRGroup.fill}}" 
		ng-attr-stroke-width="{{toolRRGroup['stroke-width']}}" 
		ng-attr-stroke="{{toolRRGroup.stroke}}">
	</circle>
    </g>
	<rect
	  data-type="tool"
      data-mode="rubberband"
      data-id="tr"
      data-parent="" 
      fill="lightblue"
	  fill-opacity=".5"
      ng-attr-x="{{toolRB.x}}" 
	  ng-attr-y="{{toolRB.y}}" 
	  ng-attr-width="{{toolRB.width}}" 
	  ng-attr-height="{{toolRB.height}}" 
	  ng-attr-stroke-width="1"
	  ng-attr-stroke="black"
      ng-attr-visibility="{{toolRB.visibility}}">
	</rect>
    
</svg>
<div>
  <button class="btn btn-mini btn-danger" ng-click="addLine()">Line</button>
  <button class="btn btn-mini btn-danger" ng-click="addImage()">Image</button>
  <button class="btn btn-mini btn-danger" ng-click="addOval()">Oval</button>
  <button class="btn btn-mini btn-danger" ng-click="addRect()">Rectangle</button>
  <button class="btn btn-mini btn-danger" ng-click="addText()">Text</button>
</div>
<br>
<div>
  <label>Mode</label><button class="btn btn-mini btn-danger" ng-click="changeShapeMode()">{{shapeMode}}</button>
<br>
<div>
	Start X: {{Mouse.state.startX}} <br>
	Start Y: {{Mouse.state.startY}} <br>
	Current X: {{Mouse.state.currentX}} <br>
	Current Y: {{Mouse.state.currentY}} <br>
	dx: {{Mouse.state.deltaX}} <br>
	dy: {{Mouse.state.deltaX}} <br>
</div>
</div>
